.UI {

    margin: 0px auto;
}

.UI h3 {
    padding-top: 25px;
    font-size: 35px;
    font-weight:bold; 
}


.form {
    font-family: "Finger Paint", cursive;
    font-size: 24px;
    background-color: white;
    width: 500px;
    height: 500px;
    min-height: 300px;
    box-shadow: 0px 0px 29px 2px rgb(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
}


.status {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    height: 10%;
    min-height: 30px;
    margin-bottom: 15px;
}

.status div {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.status div:hover {
    background-color: rgb(0, 0, 0, 0.05);
    transition: background-color 0.2s;
}


.form input {
    font-family: "Finger Paint", cursive;
    border-radius: 25px 25px 25px 25px;
    width: 50%;
    height: 25px;
    font-size: 17px;
    outline: none;
    border-width:4px;
}

button {
    font-family: "Finger Paint", cursive;
    font-size: 24px;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 30px 30px 30px 30px;
    height: 50px;
    width: 150px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(68, 68, 68);
    transition: background-color 0.2s;

}

img {
    width: 45px;
    height: 45px;

}

.floatline {
    border-bottom: 2px solid;
    width: 150px;
    height: 47px;
    position: absolute;
    cursor: none;
}